
###> symfony/framework-bundle ###
/vehicle/.env.local
/vehicle/.env.local.php
/vehicle/.env.*.local
/vehicle/config/secrets/prod/prod.decrypt.private.php
/vehicle/public/bundles/
/vehicle/var/
/vehicle/vendor/
###< symfony/framework-bundle ###
